---
layout: base.njk
title: Home
---
{# <div class="absolute w-full h-full">
  <div class="mySlides fade h-full">
    <img class="h-full object-cover" src="https://cougarcreekgolf.com/wp-content/uploads/2015/08/slider-images-06.jpg
  " style="width:100%">
  </div>

  <div class="mySlides fade h-full">
    <img class="h-full object-cover" src="https://cougarcreekgolf.com/wp-content/uploads/2015/08/slider-images-03.jpg
  " style="width:100%">
  </div>

  <div class="mySlides fade h-full">
    <img class="h-full object-cover" src="https://cougarcreekgolf.com/wp-content/uploads/2015/08/slider-images-04.jpg
  " style="width:100%">
  </div>

  <div class="mySlides fade h-full">
    <img class="h-full object-cover" src="https://cougarcreekgolf.com/wp-content/uploads/2015/08/slider-images-05.jpg
  " style="width:100%">
  </div>
</div> #}
<div class="px-4 h-screen w-full home-img-bg flex flex-col items-center justify-center">
  <div class="bg-overlay"></div>
  <div class="h-[100px] w-full"></div>
  <div class="flex flex-col items-center justify-center z-10  max-w-[900px]">
    <h1 class="font-quadrat text-5xl lg:text-7xl text-white md:tracking-wide [text-shadow:_0_1px_3px_rgb(0_0_0)] mb-6 text-center">COUGAR CREEK<br/>GOLF RESORT</h1>
    <h3 class="text-lg text-white font-aleo text-center mb-6 [text-shadow:_0_1px_3px_rgb(0_0_0)] ">This 18 hole championship golf course offers beautifully manicured fairways, challenging undulations, and an enjoyable experience for golfers of all skill levels.
    </h3>
    <div class="flex flex-col md:flex-row items-center justify-center gap-4 w-full">
      <a href="https://www.tee-on.com/PubGolf/servlet/com.teeon.teesheet.servlets.golfersection.ComboLanding?CourseCode=COUG&FromCourseWebsite=true" target="_blank" class="bg-gradient-to-t from-sky-800 to-sky-900 rounded text-white shadow-lg w-full px-3 py-4 text-lg font-medium hover:from-sky-700 hover:to-sky-800 text-center">
      <i class="fa-solid fa-golf-tee"></i>
  Book A Tee Time</a>

    <a class="bg-gradient-to-t from-green-900 to-green-800 rounded text-white shadow-lg w-full px-3 py-4 text-lg font-medium hover:from-green-800 hover:to-green-700 text-center">
      <i class="fa-solid fa-golf-tee"></i>
  Download Our App</a>
    </div>
    
  </div>
</div>

{# <script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      
      // Hide all slides
      for (i = 0; i < slides.length; i++) {
        slides[i].style.opacity = 0;
      }
      
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      
      // Fade in the next slide
      slides[slideIndex-1].style.opacity = 1;  
      
      setTimeout(showSlides, 7000); // Change image every 2 seconds
    }
    </script> #}